.root {
  margin: -8px;
}

.body {
  display: flex;
  font-family: "Poppins", sans-serif;
}

.site-container {
  background-color: #eeff2fef;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  -webkit-clip-path: polygon(49% 0, 100% 0, 40% 100%, 0 100%, 0 0);
  clip-path: polygon(49% 0, 100% 0, 40% 100%, 0 100%, 0 0);
}

.map {
  height: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 50vh;
  margin-right: 350px;
  margin-top: 130px;
}

.title {
  font-size: 55px;
  text-shadow: -2px 0px 10px;
}

.content {
  font-family: "Open Sans Condensed", sans-serif;
  font-style: italic;
  font-size: 50px;
}

.random-button {
  min-height: 30px;
  background-color: rgba(48, 48, 48, 0.788);
  border: 0;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  max-width: 340px;
  margin-top: 10px;
}

.maps-container {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
